html {
    font-size: 16px;
}
body,
#app {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    flex: 1;
    width: 100%;
    height: 100%;
    background: lightblue;
}

.sidebar {
    flex: 0 1 300px;
    width: 100%;
    height: 100%;
    padding: 12px;
    background: lightgreen;
}

.office-plan-wrapper {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
}

.marker {
    background: red;
}

.marker-details {
    position: absolute;
    left: 15px;
    width: 200px;
}

.employee-search {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 8px;
}

.employee-search input {
    width: 100%;
}

.employees-list-item {
    width: 100%;
    padding: 4px;
}

.employees-list-item-label {
    font-size: 1rem;
}

.employees-list-item-legend {
    font-size: 0.8rem;
}
